### <span style="color: red"> Task 1:</span> Some errors are presented in the code below. Can you identify and corret them?

In [2]:
import os
import csv
import numpy as np

current_dir = os.getcwd()
filename = current_dir+'\E1_T1.csv'   ## 'E1_T1.csv' -> '\E1_T1.csv'
#print(filename)

with open(filename, 'r', newline='') as f:  ## newline=' -> newline=''
    csv_file = csv.reader(f)
    data = list(csv_file)
sentence=''

#print(data)

for word in data[0]:  ## data -> data[0]
    sentence = sentence + ' '+ word
print(sentence)
print(type(sentence))

 This task is too simple , I want more challenges
<class 'str'>

### <span style="color: red"> Task 2:</span> Who has the most runner-up finishes in the histroy of NHL? Create a table with the teams and their runner-up finishes. The table must contain the the following columns:

-Team

-Total number of runner-up finishes

-Years [list of the years they finished as a runner-up]

You have to use Jupyter for the practice and produce a notebook with good readability.

### <span style="color: blue"> Solution:</span>

In [3]:
import pandas as pd
current_dir = os.getcwd()
files = os.listdir(os.curdir)
print(files)

filename = current_dir+'\Stanely_cup_winners_by_year.xlsx' 
df = pd.read_excel(filename)

['.ipynb_checkpoints', 'E1_T1.csv', 'E2_data.zip', 'E2_Python_Basics_Excercise_2-1.ipynb', 'Stanely_cup_winners_by_year.xlsx', '__MACOSX']

In [4]:
df # load the "Stanely_cup_winners_by_year.xlsx" file

     Year                    Team             Runner up
0    2020     Tampa Bay Lightning          Dallas Stars
1    2019         St. Louis Blues         Boston Bruins
2    2018     Washington Capitals  Vegas Golden Knights
3    2017     Pittsburgh Penguins   Nashville Predators
4    2016     Pittsburgh Penguins       San Jose Sharks
..    ...                     ...                   ...
103  1915  Vancouver Millionaires       Ottawa Senators
104  1914      Toronto Blueshirts      Victoria Cougars
105  1913         Quebec Bulldogs         Sydney Miners
106  1912         Quebec Bulldogs     Moncton Victories
107  1911         Ottawa Senators  Port Arthur Bearcats

[108 rows x 3 columns]

In [5]:
a = [1,2]
b = [2,3,4]
a+b

[1, 2, 2, 3, 4]

In [6]:
#check if duplicated year
print(sum(df['Year'].duplicated()))

#check if null
print(df.isnull().values.any(),'\n')

# Extract the runner-up teams' name 
team_lst = sorted(list(set(df['Runner up']))) # Since we want runner-up information only, Team name from ‘Team’ is not dealt with
print(len(team_lst))
print(team_lst)

0
False

38
['Boston Bruins', 'Buffalo Sabres', 'Calgary Flames', 'Calgary Tigers', 'Carolina Hurricanes', 'Chicago Black Hawks', 'Chicago Blackhawks', 'Dallas Stars', 'Detroit Red Wings', 'Edmonton Eskimos', 'Edmonton Oilers', 'Florida Panthers', 'Los Angeles Kings', 'Mighty Ducks of Anaheim', 'Minnesota North Stars', 'Moncton Victories', 'Montreal Canadiens', 'Montreal Maroons', 'Nashville Predators', 'New Jersey Devils', 'New York Islanders', 'New York Rangers', 'Ottawa Senators', 'Philadelphia Flyers', 'Pittsburgh Penguins', 'Port Arthur Bearcats', 'Portland Rosebuds', 'San Jose Sharks', 'Seattle Metropolitans', 'St. Louis Blues', 'Sydney Miners', 'Tampa Bay Lightning', 'Toronto Maple Leafs', 'Vancouver Canucks', 'Vancouver Millionaires', 'Vegas Golden Knights', 'Victoria Cougars', 'Washington Capitals']

In [7]:
df2 = pd.DataFrame({'Team':team_lst})
df2['Total number of runner-up finishes']=0
df2['Years']= [list() for i in range(len(df2.index))]
#print(df2)
for i in range(len(df.index)):
    team = df['Runner up'][i] # obtain the team name of the runner up of the year
    indx = df2['Team'].where(df2['Team'] == team).dropna().index[0] # get the index of runner-up team in the new table
    df2['Years'][indx].append(df['Year'][i]) # add the year for the team
    df2['Total number of runner-up finishes'][indx]+=1 # increase the total runner-up by 1
    
# sort the DataFrame by the number of runner-up finishes
df3=df2.sort_values(by='Total number of runner-up finishes',ascending=False)
df3

C:\Users\hlk19\AppData\Local\Temp\ipykernel_5368\225992155.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Total number of runner-up finishes'][indx]+=1 # increase the total runner-up by 1

,Team,Total number of runner-up finishes,Years
0,Boston Bruins,14,"[2019, 2013, 1990, 1988, 1978, 1977, 1974, 195..."
8,Detroit Red Wings,13,"[2009, 1995, 1966, 1964, 1963, 1961, 1956, 194..."
16,Montreal Canadiens,9,"[1989, 1967, 1955, 1954, 1952, 1951, 1947, 192..."
32,Toronto Maple Leafs,8,"[1960, 1959, 1940, 1939, 1938, 1936, 1935, 1933]"
21,New York Rangers,7,"[2014, 1979, 1972, 1950, 1937, 1932, 1929]"
6,Chicago Blackhawks,6,"[1992, 1973, 1971, 1965, 1962, 1944]"
23,Philadelphia Flyers,6,"[2010, 1997, 1987, 1985, 1980, 1976]"
34,Vancouver Millionaires,3,"[1922, 1921, 1918]"
33,Vancouver Canucks,3,"[2011, 1994, 1982]"
29,St. Louis Blues,3,"[1970, 1969, 1968]"
14,Minnesota North Stars,2,"[1991, 1981]"
36,Victoria Cougars,2,"[1926, 1914]"
22,Ottawa Senators,2,"[2007, 1915]"
1,Buffalo Sabres,2,"[1999, 1975]"
19,New Jersey Devils,2,"[2012, 2001]"
2,Calgary Flames,2,"[2004, 1986]"
10,Edmonton Oilers,2,"[2006, 1983]"
7,Dallas Stars,2,"[2020, 2000]"
15,Moncton Victories,1,[1912]
27,San Jose Sharks,1,[2016]
35,Vegas Golden Knights,1,[2018]
3,Calgary Tigers,1,[1924]
4,Carolina Hurricanes,1,[2002]
5,Chicago Black Hawks,1,[1931]
31,Tampa Bay Lightning,1,[2015]
30,Sydney Miners,1,[1913]
28,Seattle Metropolitans,1,[1920]
26,Portland Rosebuds,1,[1916]
13,Mighty Ducks of Anaheim,1,[2003]
25,Port Arthur Bearcats,1,[1911]
24,Pittsburgh Penguins,1,[2008]
9,Edmonton Eskimos,1,[1923]
11,Florida Panthers,1,[1996]
20,New York Islanders,1,[1984]
12,Los Angeles Kings,1,[1993]
18,Nashville Predators,1,[2017]
17,Montreal Maroons,1,[1928]
37,Washington Capitals,1,[1998]

### <span style="color: red"> Task 3:</span> With the help of matminer, 1. Retrive the 'steel_strength' dataset into a dataframe and clean your dataset in needed; 2. Featurize the compositions of the materials; and 3. Perform correlation analysis and drop feature(s) with an coefficient greater than abs(0.8) from your dataframe.

### <span style="color: blue"> Solution:</span>

In [8]:
import matminer
from matminer.datasets import load_dataset


#matminer.datasets.get_available_datasets() #you can check what datasets are available with this line
steel = load_dataset('steel_strength')
print(type(steel),'\n')
steel.head(3)
#df2 = StrToComposition().featurize_dataframe(df2, "formula")

<class 'pandas.core.frame.DataFrame'>

,formula,c,mn,si,cr,ni,mo,v,n,nb,co,w,al,ti,yield strength,tensile strength,elongation
0,Fe0.620C0.000953Mn0.000521Si0.00102Cr0.000110N...,0.02,0.05,0.05,0.01,19.70,2.95,0.01,0.00,0.01,15.00,0.00,0.15,1.55,2411.5,2473.5,7.0
1,Fe0.623C0.00854Mn0.000104Si0.000203Cr0.147Ni0....,0.18,0.01,0.01,13.44,0.01,3.01,0.46,0.04,0.01,19.46,2.35,0.04,0.00,1123.1,1929.2,8.0
2,Fe0.625Mn0.000102Si0.000200Cr0.0936Ni0.129Mo0....,0.00,0.01,0.01,8.67,13.45,0.82,0.01,0.00,0.01,13.90,0.00,0.39,0.57,1736.3,1871.8,NaN

In [9]:
## add the comp_normalization function from E1, with small modification

## letter, number, symbol
from pymatgen.core.periodic_table import Element
from matminer.featurizers.conversions import StrToComposition

# obtain the list of elements
elem_lst=[]
for i in range(1,118):
    elem_lst.append(Element.from_Z(i).symbol)
#print(elem_lst)

def comp_normalization(name):
    element = []
    number = []
    e=''
    n=''
    for i in name:
        if i.isalpha()==False:
            n+=i
            if e!='':
                element.append(e)
            e=''
        else:
            e+=i
            if n!='':
                number.append(float(n))
            n=''
    number.append(float(n)) #int -> float
    
    ######################################## element name check for BQ #######################################
    for i in element:
        if (i in elem_lst)==False:
            print('ERROR:invalid element name: ',i)
    ##########################################################################################################
    
    # normalization check
    sum_comp=0
    
    if sum(number)==1:
        return name
    else:
        tot = sum(number)  
#         if abs(tot-1)>1e-3:      # 1e-3 is the tolerance for rounding to 3 significant digit
#             print('The composition is not normalized')
        for i,n in enumerate(number):
            number[i]=n/tot     # store the normalized fraction
        normed_name = ''

        for i in range(len(element)):
            normed_name+=element[i]
            digit = np.format_float_positional(round(number[i],3), trim='-') #include only 3 significant digit
            normed_name+=digit
            sum_comp+=float(digit)
    return element,sum_comp,normed_name  # output element, sum of composition to check if normalized

C:\Users\hlk19\anaconda3\lib\site-packages\pymatgen\analysis\phase_diagram.py:26: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [10]:
#check formula 
if steel['formula'].isnull().values.any():
    print("ERROR: formula is missing")
else:
    print("No formula is missing")
    
print(len(np.where(steel['formula'].duplicated()==True)[0]),'duplicated data exist',)

    

#check yield strength
if steel['yield strength'].isnull().values.any():
    print('ERROR: yield strength of {} steels is missing'.
          format(len(np.where(steel['yield strength'].isnull().values==True)[0])),) 
else:
    print('No yield strength is missing')
print(steel['yield strength'].describe(),'\n') 
    

# check tensile strength
if steel['tensile strength'].isnull().values.any():
    print('ERROR: yield strength of {} steels is missing'.
          format(len(np.where(steel['yield strength'].isnull().values==True)[0])),) 
else:
    print('No tensile strength is missing')
print(steel['tensile strength'].describe(),'\n')  #the print result can indicate whether the series is pure numbers(floats)
    
# check elongation 
if steel['elongation'].isnull().values.any():
    print('ERROR: elongation data of {} steels is missing'.
          format(len(np.where(steel['elongation'].isnull().values==True)[0])),)    
else:
    print('No elongation is missing')
    
# filled the missing value with mean
steel = steel.fillna(steel['elongation'].mean())
print(steel['elongation'].describe(),'\n') 


# go over formula, collect elements, check if wt% sum up to 100 
norm_checker = 0
for i in steel['formula']:
    element,sum_comp,normed_name = comp_normalization(i)
    steel = steel.replace(i,normed_name)
#    steel['formula'][i] = normed_name
    if abs(sum_comp-1)<1e-3:
        norm_checker+=1
if norm_checker==len(steel['formula']):
    print('all compositions are normalized')

No formula is missing
0 duplicated data exist
No yield strength is missing
count     312.000000
mean     1420.998397
std       301.894169
min      1005.900000
25%      1219.475000
50%      1344.200000
75%      1576.075000
max      2510.300000
Name: yield strength, dtype: float64

No tensile strength is missing
count     312.000000
mean     1641.653205
std       346.475179
min      1019.000000
25%      1338.125000
50%      1666.300000
75%      1899.950000
max      2570.000000
Name: tensile strength, dtype: float64

ERROR: elongation data of 9 steels is missing
count    312.000000
mean      14.007261
std        5.021697
min        2.000000
25%       11.000000
50%       14.600000
75%       17.050000
max       35.000000
Name: elongation, dtype: float64

In [11]:
steel2 = StrToComposition().featurize_dataframe(steel, "formula")
steel2

StrToComposition:   0%|          | 0/312 [00:00<?, ?it/s]

,formula,c,mn,si,cr,ni,mo,v,n,nb,co,w,al,ti,yield strength,tensile strength,elongation,composition
0,Fe0.62C0.001Mn0.001Si0.001Cr0Ni0.192Mo0.018V0N...,0.02,0.05,0.05,0.01,19.70,2.95,0.01,0.00,0.01,15.00,0.00,0.15,1.55,2411.5,2473.5,7.000000,"(Fe, C, Mn, Si, Ni, Mo, Co, Al, Ti)"
1,Fe0.623C0.009Mn0Si0Cr0.147Ni0Mo0.018V0.005N0.0...,0.18,0.01,0.01,13.44,0.01,3.01,0.46,0.04,0.01,19.46,2.35,0.04,0.00,1123.1,1929.2,8.000000,"(Fe, C, Cr, Mo, V, N, Co, W, Al)"
2,Fe0.625Mn0Si0Cr0.094Ni0.129Mo0.005V0Nb0Co0.132...,0.00,0.01,0.01,8.67,13.45,0.82,0.01,0.00,0.01,13.90,0.00,0.39,0.57,1736.3,1871.8,14.007261,"(Fe, Cr, Ni, Mo, Co, Al, Ti)"
3,Fe0.634C0Mn0.001Si0.001Cr0Ni0.173Mo0.024V0Nb0C...,0.01,0.05,0.05,0.01,17.70,3.95,0.01,0.00,0.01,15.00,0.00,0.13,1.47,2487.3,2514.9,9.000000,"(Fe, Mn, Si, Ni, Mo, Co, Al, Ti)"
4,Fe0.636C0Mn0.001Si0.001Cr0Ni0.188Mo0.009V0Nb0C...,0.01,0.05,0.05,0.01,19.40,1.45,0.01,0.00,0.01,14.90,0.00,0.13,1.55,2249.6,2315.0,8.500000,"(Fe, Mn, Si, Ni, Mo, Co, Al, Ti)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,Fe0.823C0.018Mn0.002Si0Cr0.078Ni0Mo0.022V0.01N...,0.38,0.18,0.01,7.27,0.01,3.77,0.96,0.00,0.01,4.90,0.00,0.03,0.00,1722.5,1998.1,5.000000,"(Fe, C, Mn, Cr, Mo, V, Co, Al)"
308,Fe0.823Mn0.001Si0.001Cr0.056Ni0.098Mo0.019V0Nb...,0.00,0.06,0.05,5.15,10.20,3.20,0.01,0.00,0.01,0.01,0.00,0.03,0.09,1019.0,1019.0,19.000000,"(Fe, Mn, Si, Cr, Ni, Mo, Al, Ti)"
309,Fe0.825C0.017Mn0.002Si0Cr0.057Ni0Mo0.034V0.012...,0.37,0.17,0.01,5.20,0.01,5.84,1.05,0.00,0.91,4.88,0.00,0.03,0.00,1860.3,2156.6,3.000000,"(Fe, C, Mn, Cr, Mo, V, Nb, Co, Al)"
310,Fe0.858C0.019Mn0.002Si0Cr0.075Ni0Mo0.034V0.01N...,0.41,0.19,0.01,6.99,0.01,5.84,0.92,0.00,0.01,0.02,0.00,0.03,0.00,1812.1,2087.7,2.000000,"(Fe, C, Mn, Cr, Mo, V, Al)"
311,Fe0.86C0.013Mn0.003Si0Cr0.004Ni0.079Mo0.003V0....,0.27,0.27,0.01,0.41,8.28,0.49,0.07,0.00,0.01,3.90,0.00,0.03,0.00,1139.7,1236.3,15.400000,"(Fe, C, Mn, Cr, Ni, Mo, V, Co, Al)"

In [38]:
#plot the correlation matrix
corr= steel2.corr().abs()\
                        .mask(np.tril(np.ones(corr.shape)).astype(bool)) # remove the lower triangle of values in the matrox 
corr.style.background_gradient(cmap='viridis')

In [64]:
col_to_del = [feature for feature in corr if sum(corr[feature]>0.8)>0]
print(col_to_del)
steel3 = steel2.drop(col_to_del, axis=1)
steel3

['ni', 'tensile strength']

,formula,c,mn,si,cr,mo,v,n,nb,co,w,al,ti,yield strength,elongation,composition
0,Fe0.62C0.001Mn0.001Si0.001Cr0Ni0.192Mo0.018V0N...,0.02,0.05,0.05,0.01,2.95,0.01,0.00,0.01,15.00,0.00,0.15,1.55,2411.5,7.000000,"(Fe, C, Mn, Si, Ni, Mo, Co, Al, Ti)"
1,Fe0.623C0.009Mn0Si0Cr0.147Ni0Mo0.018V0.005N0.0...,0.18,0.01,0.01,13.44,3.01,0.46,0.04,0.01,19.46,2.35,0.04,0.00,1123.1,8.000000,"(Fe, C, Cr, Mo, V, N, Co, W, Al)"
2,Fe0.625Mn0Si0Cr0.094Ni0.129Mo0.005V0Nb0Co0.132...,0.00,0.01,0.01,8.67,0.82,0.01,0.00,0.01,13.90,0.00,0.39,0.57,1736.3,14.007261,"(Fe, Cr, Ni, Mo, Co, Al, Ti)"
3,Fe0.634C0Mn0.001Si0.001Cr0Ni0.173Mo0.024V0Nb0C...,0.01,0.05,0.05,0.01,3.95,0.01,0.00,0.01,15.00,0.00,0.13,1.47,2487.3,9.000000,"(Fe, Mn, Si, Ni, Mo, Co, Al, Ti)"
4,Fe0.636C0Mn0.001Si0.001Cr0Ni0.188Mo0.009V0Nb0C...,0.01,0.05,0.05,0.01,1.45,0.01,0.00,0.01,14.90,0.00,0.13,1.55,2249.6,8.500000,"(Fe, Mn, Si, Ni, Mo, Co, Al, Ti)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,Fe0.823C0.018Mn0.002Si0Cr0.078Ni0Mo0.022V0.01N...,0.38,0.18,0.01,7.27,3.77,0.96,0.00,0.01,4.90,0.00,0.03,0.00,1722.5,5.000000,"(Fe, C, Mn, Cr, Mo, V, Co, Al)"
308,Fe0.823Mn0.001Si0.001Cr0.056Ni0.098Mo0.019V0Nb...,0.00,0.06,0.05,5.15,3.20,0.01,0.00,0.01,0.01,0.00,0.03,0.09,1019.0,19.000000,"(Fe, Mn, Si, Cr, Ni, Mo, Al, Ti)"
309,Fe0.825C0.017Mn0.002Si0Cr0.057Ni0Mo0.034V0.012...,0.37,0.17,0.01,5.20,5.84,1.05,0.00,0.91,4.88,0.00,0.03,0.00,1860.3,3.000000,"(Fe, C, Mn, Cr, Mo, V, Nb, Co, Al)"
310,Fe0.858C0.019Mn0.002Si0Cr0.075Ni0Mo0.034V0.01N...,0.41,0.19,0.01,6.99,5.84,0.92,0.00,0.01,0.02,0.00,0.03,0.00,1812.1,2.000000,"(Fe, C, Mn, Cr, Mo, V, Al)"
311,Fe0.86C0.013Mn0.003Si0Cr0.004Ni0.079Mo0.003V0....,0.27,0.27,0.01,0.41,0.49,0.07,0.00,0.01,3.90,0.00,0.03,0.00,1139.7,15.400000,"(Fe, C, Mn, Cr, Ni, Mo, V, Co, Al)"

### <span style="color: red"> Task 4:</span> Setup a private Github repository for this course. Name it MSE1065_\<YourName>_\<YourStudentID>. You will be using this repo for homework submission and course project version control. A good place to get started is [here](https://docs.github.com/en/get-started/quickstart/hello-world). You can choose to use the GitHub via the terminal (recommanded), the [GitHub desktop app](https://desktop.github.com/), or the online GitHub platform. After setting up your repo, make sure to share your repo with [Jae](https://github.com/jae3goals) and [Xiao](github.com/xshang93) by adding us as collobrators.